
@{
    ViewBag.Title = "Change In Curriculum";
    var Uname = ViewBag.Uname;

}

<h2>Change In Curriculum</h2>
<h3> Choose an option MR. @Uname</h3>
<input id="modify_syllabus" type="button" value="Modify Syllabus of a Subject" onclick="location.href='@Url.Action("Modify", "ChangeInCurriculum")'" />
<input id="relocate_semester" type="button" value="Relocate Subject to Another Semester" onclick="location.href='@Url.Action("ReAllocate", "ChangeInCurriculum")'" />
<input id="add_subject" type="button" value="Add New Subject"  onclick="location.href='@Url.Action("AddNewSubject", "ChangeInCurriculum")'" />
<input id="remove_subject" type="button" value="Remove Subject from Course" onclick="location.href='@Url.Action("RemoveSubject", "ChangeInCurriculum")'" />
<input id="other" type="button" value="Other" />