
@{
    ViewBag.Title = "Page1";
    //SelectList I = new SelectList(@TempData["Ins"].ToString(), @TempData["Ins"].ToString(), @TempData["Ins"].ToString());
    List<String> names = new List<String>();
    names = (List<String>)(ViewData["Ins"]);
}

<h2>Modify Syllabus - Page 1</h2>
<h3> Fill the full form before submitting Mr. @ViewData["Uname"]</h3>
<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=radio][name=Subjects]').change(function () {
            var selectedInstituteID = $('#Institute_DropDownId option:selected').val();
            var selectedDepartmentID = $('#Department_DropDownId option:selected').val();
            var selectedCourseID = $('#Course_DropDownId option:selected').val();
            var selectedSemeterID = $('#Semester_DropDownId option:selected').val();
            var selectedSubtype;
            if (this.value == 'Core') {
                selectedSubtype = 1;
            }
            else if (this.value == 'PE') {
                selectedSubtype = 2;
            }
            else if (this.value == 'OE') {
                selectedSubtype = 3;
            }
            $('#SubjectContainer').load('@Url.Action("SubjectView")?InstituteID=' + selectedInstituteID + '&DeptID=' + selectedDepartmentID + '&CourseID=' + selectedCourseID + '&SemesterID=' + selectedSemesterID + '&Sub_type=' + selectedSubtype);
        });
    });
</script>
<table>
    <tr>
        <th>Institute</th>
        <th>Department</th>
        <th>Course</th>
        <th>Semester</th>
        <th>Subject</th>
    </tr>
    <tr>
        <td>
            <div id="InstituteContainer">
                @Html.Action("InstituteView")
            </div>
        </td>
        <td>
            <div id="DepartmentContainer">
                @Html.Action("DepartmentView", new { InstituteID = 123 })
            </div>
        </td>
        <td>
            <div id="CourseContainer">
                @Html.Action("CourseView", new { InstituteID = 123, DeptID = 1 });
            </div>
        </td>
        <td>
            <div id="SemesterContainer">
                @Html.Action("SemesterView",new { InstituteId = 123, DeptID = 1, CourseId = 1})
            </div>
        </td>
        <td>
            <div id="SubjectType">
                Core:<input type="radio" name="Subjects" value="1" /><br />
                PE:<input type="radio" name="Subjects" value="2" /><br />
                OE:<input type="radio" name="Subjects" value="3" /><br />
            </div>
        </td>
        <td>
            <div id="SubjectContianer">
                @Html.Action("SubjectView" ,new { InstituteId = 123, DeptID = 1, CourseId = 1,SemesterID="1", Sub_type = 1 })
            </div>
        </td>
    </tr>
</table>