@model ASRAS.Models.FormModal

@{
    ViewBag.Title = "Page1";
    //SelectList I = new SelectList(@TempData["Ins"].ToString(), @TempData["Ins"].ToString(), @TempData["Ins"].ToString());
    //List<String> names = new List<String>();
    //names = (List<String>)(ViewData["Ins"]);
}

<h2>Modify Syllabus - Page 1</h2>
<h3>Fill the full form before submitting Mr. @ViewBag.Uname</h3>

<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=radio][name=Subjects]').change(function () {
            var selectedInstituteID = $('#Institute_DropDownId option:selected').val();
            var selectedDepartmentID = $('#Department_DropDownId option:selected').val();
            var selectedCourseID = $('#Course_DropDownId option:selected').val();
            var selectedSemesterID = $('#Semester_DropDownId option:selected').val();
            var selectedSubtype = this.value;
            if (this.value == 'Core') {
                selectedSubtype = 1;
            }
            else if (this.value == 'PE') {
                selectedSubtype = 2;
            }
            else if (this.value == 'OE') {
                selectedSubtype = 3;
            }
            console.log(selectedInstituteID + " " + selectedDepartmentID + " " + selectedCourseID + " " + selectedSemesterID + " " + selectedSubtype);
            $('#SubjectContainer').load('@Url.Action("SubjectView", "DropDown")?InstituteID=' + selectedInstituteID + '&DeptID=' + selectedDepartmentID + '&CourseID=' + selectedCourseID + '&SemesterID=' + selectedSemesterID + '&Sub_type=' + selectedSubtype);
        });
    });
</script>

@using (Html.BeginForm("Preview", "Preview"))
{
    //Date Selector
    <div class="form-group">
        @Html.EditorFor(model => model.proposal.DateofBOS, new { htmlAttributes = new { @class = "form-control", placeholder = "Date of BoS meeting" } })
        @Html.ValidationMessageFor(model => model.proposal.DateofBOS, "", new { @class = "text-danger" })
    </div>
    <br />

    //Dropdown box to select institute
    <div id="InstituteContainer">
        @Html.Action("InstituteView", "DropDown")
    </div>
    <br />

    //Dropdown box to select department
    <div id="DepartmentContainer">
        @Html.Action("DepartmentView", "DropDown", new { InstituteID = 123 })
    </div>
    <br />

    //Dropdown box to select course
    <div id="CourseContainer">
        @Html.Action("CourseView", "DropDown", new { InstituteID = 123, DeptID = 1 })
    </div>
    <br />

    //Dropdown box to select semester
    <div id="SemesterContainer">
        @Html.Action("SemesterView", "DropDown", new { InstituteID = 123, DeptID = 1, CourseID = 1 })
    </div>
    <br />

    //Radiobuttons to select type of course
    <div id="SubjectType">
        <input type="radio" name="Subjects" value="1" />Core<br />
        <input type="radio" name="Subjects" value="2" />PE<br />
        <input type="radio" name="Subjects" value="3" />OE<br />
    </div>
    <br />

    //Dropdown box to select subject
    <div id="SubjectContainer">
        @Html.Action("SubjectView", "DropDown", new { InstituteId = 123, DeptID = 1, CourseID = 1, SemesterID = 1, Sub_type = 1 })
    </div>
    <br />

    <p>Abstract:</p>
    //Textbox to enter Abstract
    <div id="abstractContainer">
        @Html.TextBoxFor(model => model.proposal.Abstract, new { @id = "abstract" })
    </div>

    <p>Objectives:</p>
    //Textbox to enter objectives
    <div id="objectivesContainer">
        @Html.TextBoxFor(model => model.proposal.Objectives, new { @id = "objectives" })
    </div>

    <p>Outcomes:</p>
    //Textbox to enter outcomes
    <div id="outcomesContainer">
        @Html.TextBoxFor(model => model.proposal.Outcome, new { @id = "outcomes" })
    </div>

    <p>Full Text:</p>
    //Textbox to enter full syllabus
    <div id="fulltextContainer">
        @Html.TextBoxFor(model => model.proposal.Full_syll, new { @id = "fullSyllabus" })
    </div>

    <p>References:</p>
    //Textbox to enter references
    <div id="referencesContainer">
        @Html.TextBoxFor(model => model.proposal.References, new { @id = "references" })
    </div>

    <button type="submit" class="button buttonBlue" onclick="location.href='@Url.Action("Preview", "Preview")'">
        Preview
    </button>
    <button type="submit" class="button buttonBlue" onclick="location.href='@Url.Action("insertIntoDatabase", "ChangeInCurriculum")'">
        Submit
    </button>
    <button class="button buttonBlue" onclick="location.href='@Url.Action("insertIntoDatabase", "Upload")'">
        Submit
    </button>
}

@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>


        @Html.TextBox("file", "", new { type = "file" }) <br />

        <input type="submit" value="Upload"  />

        @ViewBag.Message

    </div>


} 