@model ASRAS.Models.Proposal  

@{
    ViewBag.Title = "Page1";
    //SelectList I = new SelectList(@TempData["Ins"].ToString(), @TempData["Ins"].ToString(), @TempData["Ins"].ToString());
    //List<String> names = new List<String>();
    //names = (List<String>)(ViewData["Ins"]);
}

<h2>Modify Syllabus - Page 1</h2>
<h3>Fill the full form before submitting Mr. @ViewBag.Uname</h3>
 
<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=radio][name=Subjects]').change(function () {
            var selectedInstituteID = $('#Institute_DropDownId option:selected').val();
            var selectedDepartmentID = $('#Department_DropDownId option:selected').val();
            var selectedCourseID = $('#Course_DropDownId option:selected').val();
            var selectedSemesterID = $('#Semester_DropDownId option:selected').val();
            var selectedSubtype = this.value;
            if (this.value == 'Core') {
                selectedSubtype = 1;
            }
            else if (this.value == 'PE') {
                selectedSubtype = 2;
            }
            else if (this.value == 'OE') {
                selectedSubtype = 3;
            }
            console.log(selectedInstituteID + " " + selectedDepartmentID + " " + selectedCourseID + " " + selectedSemesterID + " " + selectedSubtype);
            $('#SubjectContainer').load('@Url.Action("SubjectView", "DropDown")?InstituteID=' + selectedInstituteID + '&DeptID=' + selectedDepartmentID + '&CourseID=' + selectedCourseID + '&SemesterID=' + selectedSemesterID + '&Sub_type=' + selectedSubtype);
        });
    });
</script>

@using (Html.BeginForm("Preview", "Preview"))
{
<div class="form-group">

    @Html.LabelFor(model => model.DateofBOS, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.DateofBOS, new { htmlAttributes = new { @class = "form-control", placeholder = "Employee Date Of Birth" } })
        @Html.ValidationMessageFor(model => model.DateofBOS, "", new { @class = "text-danger" })
    </div>
</div> 
<div id="InstituteContainer">
    @Html.Action("InstituteView", "DropDown")
</div>
<br />
<div id="DepartmentContainer">
    @Html.Action("DepartmentView", "DropDown", new { InstituteID = 123 })
</div>
<br />
<div id="CourseContainer">
    @Html.Action("CourseView", "DropDown", new { InstituteID = 123, DeptID = 1 })
</div>
<br />
<div id="SemesterContainer">
    @Html.Action("SemesterView", "DropDown", new { InstituteID = 123, DeptID = 1, CourseID = 1 })
</div>
<br />
<div id="SubjectType">
    Core:<input type="radio" name="Subjects" value="1" /><br />
    PE:<input type="radio" name="Subjects" value="2" /><br />
    OE:<input type="radio" name="Subjects" value="3" /><br />
</div>
<br />
<div id="SubjectContainer">
    @Html.Action("SubjectView", "DropDown", new { InstituteId = 123, DeptID = 1, CourseID = 1, SemesterID = 1, Sub_type = 1 })
</div>

<p>
    Below sections are for development/debugging purposes only and will be modified before final deployment
</p>
<br />
    <p>Abstract:</p>
    <div id="abstractContainer">
        @Html.TextBoxFor(model => model.Abstract)
    </div>
    <p>Objectives:</p>
    <div id="objectivesContainer">
        @Html.TextBoxFor(model => model.Objectives, new { @id = "objectives" })
    </div>
    <p>Outcomes:</p>
    <div id="outcomesContainer">
        @Html.TextBoxFor(model => model.Outcome)
    </div>
    <p>Full Text:</p>
    <div id="fulltextContainer">
        @Html.TextBoxFor(model => model.Full_syll)
    </div>
    <p>References:</p>
    <div id="referencesContainer">
        @Html.TextBoxFor(model => model.References)
    </div>
    <p>(for temporary use, enter full location to store document. Eg "C:/debugging/try.docx")</p>
    <div id="locationContainer">
        <textarea name="location" id="location" rows="10" cols="500"></textarea>
    </div>
    <button type="submit" class="button buttonBlue" onclick="location.href='@Url.Action("Preview", "Preview")'">
        Preview
    </button>
    <button type="submit" class="button buttonBlue" onclick="location.href='@Url.Action("insertIntoDatabase", "ChangeInCurriculum")'">
        Submit
    </button>
}