@model ASRAS.Models.FormModal
@{
    ViewBag.Title = "Page1";
    //SelectList I = new SelectList(@TempData["Ins"].ToString(), @TempData["Ins"].ToString(), @TempData["Ins"].ToString());
    //List<String> names = new List<String>();
    //names = (List<String>)(ViewData["Ins"]);
    var Ins = (ASRAS.Models.Institute)Session["Institute"];
    var Institute = Ins.Name;
    var Ins_id = (Double)Session["Ins_id"];
}

<h2>Modify Syllabus - Page 1</h2>
<h3>Fill the full form before submitting Mr. @ViewBag.Uname</h3>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 

<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=radio][name=Subjects]').change(function () {
            var selectedInstituteID = @Ins_id;
            var selectedDepartmentID = $('#Department_DropDownId option:selected').val();
            var selectedCourseID = $('#Course_DropDownId option:selected').val();
            var selectedSemesterID = $('#Semester_DropDownId option:selected').val();
            var selectedSubtype = this.value;
            if (this.value == 'Core') {
                selectedSubtype = 1;
            }
            else if (this.value == 'PE') {
                selectedSubtype = 2;
            }
            else if (this.value == 'OE') {
                selectedSubtype = 3;
            }
            console.log(selectedInstituteID + " " + selectedDepartmentID + " " + selectedCourseID + " " + selectedSemesterID + " " + selectedSubtype);
            $('#SubjectContainer').load('@Url.Action("SubjectView", "DropDown")?InstituteID=' + selectedInstituteID + '&DeptID=' + selectedDepartmentID + '&CourseID=' + selectedCourseID + '&SemesterID=' + selectedSemesterID + '&Sub_type=' + selectedSubtype);
        });
    });
</script>
<script>
        var status = $('#status');

        $('form').ajaxForm({
            beforeSend: function () {
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            success: function () {
                var percentVal = '100%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            complete: function (xhr) {
                status.html(xhr.responseText);
            }
        });

    })();
    //(function () {
    //    var bar = $('.progress-bar');
    //    var percent = $('.progress-bar');
    //    var status = $('#status');

    //    $('form').ajaxForm({
    //        beforeSend: function () {
    //            status.empty();
    //            var percentVal = '0%';
    //            bar.width(percentVal)
    //            percent.html(percentVal);
    //        },
    //        uploadProgress: function (event, position, total, percentComplete) {
    //            var percentVal = percentComplete + '%';
    //            bar.width(percentVal)
    //            percent.html(percentVal);
    //        },
    //        success: function () {
    //            var percentVal = '100%';
    //            bar.width(percentVal)
    //            percent.html(percentVal);
    //        },
    //        complete: function (xhr) {
    //            status.html(xhr.responseText);
    //        }
    //    });

    //})();
    //(function () {
    //    var bar = $('.progress-bar');
    //    var percent = $('.progress-bar');
    //    var status = $('#status');

    //    $('form').ajaxForm({
    //        beforeSend: function () {
    //            status.empty();
    //            var percentVal = '0%';
    //            bar.width(percentVal)
    //            percent.html(percentVal);
    //        },
    //        uploadProgress: function (event, position, total, percentComplete) {
    //            var percentVal = percentComplete + '%';
    //            bar.width(percentVal)
    //            percent.html(percentVal);
    //        },
    //        success: function () {
    //            var percentVal = '100%';
    //            bar.width(percentVal)
    //            percent.html(percentVal);
    //        },
    //        complete: function (xhr) {
    //            status.html(xhr.responseText);
    //        }
    //    });

    //})();
</script>

@using (Html.BeginForm("Preview", "Preview"))
{
    //Date Selector
    <div class="form-group">
        @Html.EditorFor(model => model.proposal.DateofBOS, new { htmlAttributes = new { @class = "form-control", placeholder = "Date of BoS meeting" } })
        @Html.ValidationMessageFor(model => model.proposal.DateofBOS, "", new { @class = "text-danger" })
    </div>
    <br />

    //Dropdown box to select institute
    <div id="InstituteContainer">
        @*@Html.Action("InstituteView", "DropDown")*@
        <h2>@Institute</h2>
    </div>
    <br />

    //Dropdown box to select department
    <div id="DepartmentContainer">
        @Html.Action("DepartmentView", "DropDown", new { InstituteID = Ins_id})
    </div>
    <br />

    //Dropdown box to select course
    <div id="CourseContainer">
        @Html.Action("CourseView", "DropDown", new { InstituteID = 123, DeptID = 1 })
    </div>
    <br />

    //Dropdown box to select semester
    <div id="SemesterContainer">
        @Html.Action("SemesterView", "DropDown", new { InstituteID = 123, DeptID = 1, CourseID = 1 })
    </div>
    <br />

    //Radiobuttons to select type of course
    <div id="SubjectType">
        <input type="radio" name="Subjects" value="1" />Core<br />
        <input type="radio" name="Subjects" value="2" />PE<br />
        <input type="radio" name="Subjects" value="3" />OE<br />
    </div>
    <br />

    //Dropdown box to select subject
    <div id="SubjectContainer">
        @Html.Action("SubjectView", "DropDown", new { InstituteId = 123, DeptID = 1, CourseID = 1, SemesterID = 1, Sub_type = 1 })
    </div>
    <br />

    <p>Abstract:</p>
    //Textbox to enter Abstract
    <div id="abstractContainer">
        @Html.TextBoxFor(model => model.proposal.Abstract, new { @id = "abstract" })
    </div>

    <p>Objectives:</p>
    //Textbox to enter objectives
    <div id="objectivesContainer">
        @Html.TextBoxFor(model => model.proposal.Objectives, new { @id = "objectives" })
    </div>

    <p>Outcomes:</p>
    //Textbox to enter outcomes
    <div id="outcomesContainer">
        @Html.TextBoxFor(model => model.proposal.Outcome, new { @id = "outcomes" })
    </div>

    <p>Full Text:</p>
    //Textbox to enter full syllabus
    <div id="fulltextContainer">
        @Html.TextBoxFor(model => model.proposal.Full_syll, new { @id = "fullSyllabus" })
    </div>

    <p>References:</p>
    //Textbox to enter references
    <div id="referencesContainer">
        @Html.TextBoxFor(model => model.proposal.References, new { @id = "references" })
    </div>

    //Button to send user-entered form data to the Controller
    //Note: Since the model of this page is FormModel (as defined at the top of this page) an object of the FormModel type will
    //be passed as a parameter to the Controller
    <button type="submit" class="button buttonBlue" onclick="location.href='@Url.Action("Preview", "Preview")'">
        Preview
    </button>
}

<div>
    @using (Html.BeginForm("UploadFile", "ChangeInCurriculum", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <span>Select File</span>
        <input type="file" name="file" />
        <hr />
        <input type="submit" value="Upload" />
        <br />
        <span style="color: green">@ViewBag.Message</span>
    }
    <div class="progress progress-striped">
        <div class="progress-bar progress-bar-success">0%</div>
    </div>
</div>
