<h2>Abstract</h2>
<p id="abc">@ViewBag.previewAbstract</p>
<h2>Objectives</h2>
<p>@ViewBag.previewObjectives</p>
<h2>Outcomes</h2>
<p>@ViewBag.previewOutcomes</p>
<h2>Full Syllabus</h2>
<p>@ViewBag.previewMain</p>
<h2>References</h2>
<p>@ViewBag.previewReferences</p>

<button type="submit" class="button buttonBlue" onclick="location.href='@Url.Action("insertIntoDatabase", "ChangeInCurriculum")'">
    Submit
</button>

